<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="win-ad5es359gkm.jnet_payment_solution.dbo" connectionString="XpoProvider=MSSqlServer;data source=WIN-AD5ES359GKM;integrated security=SSPI;initial catalog=jnet_payment_solution" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>